*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
                url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 5em; 
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#050A30;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#head{
    display: flex;
    box-shadow: .5em .5em 1em rgba(0,0,0,0.2); 
    margin:auto;
    width:70%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
#head:hover{
    width: 75%;
    box-shadow: 1.5em 1.5em .8em rgba(0,0,0,0.3); ;
}
input {
    width:80%;
    padding: 10px;
    border: none;
    font-size: 1em;
    flex-grow: 1;
    flex-shrink: 1; 
}

#add1 {
    width:20%;
    background-color: #007bff;
    color: white;
    padding: .5em 1em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    transition-property: all;
    transition-duration: 1s;
    flex-grow: 1;
    flex-shrink: 1; 
}
#add1:hover {
    background-color: #0056b3;
    font-size: 1.2em;
    cursor: pointer;
}
table tr td i {
    font-size: 1.5em;
    transition-property: transform;
    transition-duration: .2s;
}
.delete i:hover, .complete i:hover {
    transform: scale(1.8);
    cursor: pointer;

}
.delete i{
    color: red;
}
.complete i{
    color: green;
}
::placeholder{
    color:#050A30;
    font-weight: 500;
}
@media (max-width: 768px) {
    h1{
        font-size: 2.5em;
    }
        
    input, #add1 {
        width: 100%;
        margin: 5px 0;
    } 

    #head {
        flex-direction: column;
        align-items: center;
    }

    th {
        font-size: 1.5em;
    }
    td{
        font-size: 1em;
    }
}
table {
    width: 90%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

th {
    font-size: 2em;
    padding: 20px;
    color: #003B73;
}

td {
    font-size: 1.2em;
    padding: 1em;
    font-weight: 500;
}
tr:hover{
    box-shadow:.5em .5em 1em rgba(0,0,0,0.2); ;

}

